<?xml version="1.0" encoding="UTF-8" ?>
<Configuration status="INFO" name="splashpage-config">
    <Properties>
        <Property name="LOG_DIR">/var/log/splashpage</Property>
        <Property name="ARCHIVE">${LOG_DIR}/archive</Property>
        <Property name="PATTERN">%d{yyyy-MM-dd HH:mm:ss.SSS} [%t] [%-5level] %logger{36} - %msg%n</Property>
    </Properties>
    <Appenders>
        <Console name="console" target="SYSTEM_OUT">
            <PatternLayout pattern="${PATTERN}"/>
        </Console>

        <RollingFile name="fileWriter"
                     fileName="${LOG_DIR}/splashpage.log"
                     filePattern="${ARCHIVE}/splashpage.log.%d{yyyy-MM-dd-hh-mm}.gz">
            <PatternLayout pattern="${PATTERN}" />
            <TimeBasedTriggeringPolicy />
        </RollingFile>
    </Appenders>
    <Loggers>
        <Root level="DEBUG">
            <AppenderRef ref="fileWriter" />
            <AppenderRef ref="console" />
        </Root>
    </Loggers>
</Configuration>